<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" type="text/css" href="/static/css/Style.css" th:href="@{/css/Style.css}">
    <meta charset="UTF-8">
    <title>Failure</title>
</head>
<body>

<div id="login-form">
    <h1>IF YOU SEE THIS PAGE IT MEANS YOU ALREADY ARE AUTHORIZED</h1>

    <fieldset>
        <form>
            <p><a href="/registration">Return to registering</a><a href="/login">Log in</a></p>
        </form>
    </fieldset>

</div>

</body>
</html>