<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" type="text/css" href="/static/css/mainpagestyle.css" th:href="@{/css/mainpagestyle.css}">
    <link rel="stylesheet" type="text/css" href="/static/css/showform.css" th:href="@{/css/showform.css}">
    <link rel="stylesheet" type="text/css" href="/static/jquery/jquery-ui.css" th:href="@{/jquery/jquery-ui.css}">

    <meta charset="UTF-8">
    <title>MainPage</title>

    <script type="text/javascript" src="/static/jquery/jquery-3.3.1.min.js"
            th:src="@{/jquery/jquery-3.3.1.min.js}"></script>
    <script type="text/javascript" src="/static/jquery/jquery-ui.js" th:src="@{/jquery/jquery-ui.js}"></script>

    <script src="/static/js/createplanetobject.js" th:src="@{/js/createplanetobject.js}"></script>
    <script src="/static/js/createplanetsystem.js" th:src="@{/js/createplanetsystem.js}"></script>

    <script>
        $(document).ready(function () {
            $('#circle').draggable({containment: "parent"});

            var refresh = $('#circle');
            $('.item', refresh).draggable('enable');
        }
            )
    </script>

    <script>
        var dialog = $("#dialog").dialog({autoOpen: false});
        $("input[type=button]").click(function () {
            dialog.dialog("open");
        });
    </script>


</head>
<body id="body">

<div id="header">
    <button id="but1">Create planets</button>

    <label>Choose type of system you want to create</label>
    <select id="selectId">

        <option value="Null"></option>

        <option value="Solar">Solar</option>

        <option value="Random">Random</option>

        <option value="Customized">Customized</option>

    </select>

    <input type="button" value="Create System" onclick="createSystem()">

</div>

<div id="planet">

</div>

<div class="modal-shadow"></div>
<form id="js:createPlanetForm" class="modal-window" action="#" th:action="@{/mainpage}" th:object="${mainpage}"
      method="post">
    <div class="close">X</div>
    <p>Name: <input type="text" th:field="*{name}"></p>
    <!--<p>Can we visit? <input type="checkbox" th:field="*{isAvailableToVisit}"> </p>-->
    <p>Average temperature: <input type="number" th:field="*{averageTemperature}"></p>
    <p>Gravitation power: <input type="number" th:field="*{gravitationPower}"></p>
    <p>Name of stargate: <input type="text" th:field="*{starGate}"></p>
    <p><input class="closebutton" type="submit" value="OK"></p>
</form>

</body>

</html>