<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" type="text/css" href="/static/css/Style.css" th:href="@{/css/Style.css}">
    <meta charset="UTF-8">
    <title>StarGate</title>
</head>
<body>

<div id="login-form">
    <h1>Авторизация на сайте</h1>

    <fieldset>
        <form>
            <footer>
                <p><a href="/greeting.html">Greeting </a></p>
                <p><a href="/registration.html">Registration</a></p>
                <p><a href="/login.html">Login in</a></p>
            </footer>
        </form>
    </fieldset>

</div>

</body>
</html>